<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Stats graf</title>
</head>

<body>

 <h1>Statistic graf</h1>

    <div class="stats_container">
        <a href="{{ url_for('table_page') }}" class="btn">Table</a>
    </div>

    <img src="{{ url_for('static', filename='bmi_chart.png') }}" alt="Graf BMI">

</body>
</html>