<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="static/style.css">
    <title>Table stats</title>
</head>

<body>
<h1>Statistic table</h1>

<div class="stats_container">
    <a href="{{ url_for('stats_page') }}" class="btn">Stats</a>
</div>

    <div class="container">
    <div class="table_wrapper">
        <table class="stats_table">
            <thead>
                <tr>
                    <th>Age</th>
                    <th>BMI</th>
                </tr>
            </thead>
            <tbody>
                {% for age, bmi in data %}
                <tr>
                    <td>{{ age }}</td>
                    <td>{{ bmi }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>